<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /workspace/final_year_project_demo/educational_site_2/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>